<% content_for(:html_title) { 'サインアップ' } %>
<div class="container user-container">
  <h2>サインアップ</h2>
  <div class="signup-form row">
    <div class="col-md-6 offset-md-3 col-sm-12" >
    <%= render "form" %>
    </div>
  </div>
</div>