// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

//Top page

body{
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  background-color: #F5F5F5;
}


.jumbotron-fluid{
  height: 500px;
  background-image:url("jumbotron-background.jpg");
  position: relative;
  .bkRGBA{
    position: absolute;
	  top: 0;
	  right: 0;
  	bottom: 0;
  	left: 0;
  	content: ' ';
    background-color:rgba(0,0,0,0.6); 
    .container{
      padding-top: 120px;
      h1{
        text-align: center;
        color: white;
      }
      p{
        text-align: center;
        padding-top:10px;
        color: white;
      }
      form{
        padding-top: 30px;
      }
    }  
  }
}
.area_container{
  margin-top: 30px;
  .row-height {
    display: flex;
    flex-wrap: wrap;
    .area-card{
      margin-top: 15px;
    }
  }
}



//index page
.index-container{
  .col-sm-12{
    padding: 20px 20px;
  }
}

.glyphicon {
    margin-bottom: 10px;margin-right: 10px;
  }
small {
  display: block;
  line-height: 1.428571429;
  color: #999;
  }
.studio-body{
}

// show_studio
.show-studio-container{
  text-align: center;
  h2{
    padding: 25px 0;
  }
  p{
    color: gray;
    text-align: right;
  }
  h4{
    padding: 50px 0 20px 0;
  }
}

//login
.login-container{
  .login-form{
    margin: 0 auto;
    margin-top: 100px;
    width: 500px;
    h1{
      margin-bottom: 50px;
      text-align: center;
    }
    form{
      .btn{
        margin-top: 15px;
        text-align: center;
      }
    }
  }
}

//signup
.signup-container{
  .signup-form{
    margin: 0 auto;
    margin-top: 100px;
    width: 500px;
    h1{
      margin-bottom: 50px;
      text-align: center;
    }
    form{
      .btn{
        margin-top: 15px;
        text-align: center;
      }
    }
  }
}

//users/show
.user_show_container{
  margin-top: 15px;
  aside{
    .icon-image{
      display: inline-block;
    }
  }
  
}