// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

//Top page

body{
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

.jumbotron{
  height: 500px;
  background-image:url("jumbotron-background.jpg");
  position: relative;
  .bkRGBA{
    position: absolute;
	  top: 0;
	  right: 0;
  	bottom: 0;
  	left: 0;
  	content: ' ';
    background-color:rgba(0,0,0,0.6); 
    .container{
      padding-top: 120px;
      h1{
        text-align: center;
        color: white;
      }
      p{
        text-align: center;
        padding-top:10px;
        color: white;
      }
      form{
        padding-top: 30px;
      }
    }  
  }
}


.area-card{
  height: 300px;
  margin-top: 15px;
}

//index page
.index-container{
  h1{
    padding: 15px 0;
    border-bottom: 1px solid gray;
  }
  .row{
    margin-top: 25px;
  }
}

//login
.login-container{
  .login-form{
    background-color: white;
    border: solid 1px gray;
    padding: 40px;
    margin:200px 350px;
    h1{
      text-align: center;
    }
    form{
      .btn{
        text-align: center;
      }
    }
  }
}

//signup
.signup-container{
  .signup-form{
    background-color: white;
    border: solid 1px gray;
    padding: 40px;
    margin:200px 350px;
    h1{
      text-align: center;
    }
    form{
      .btn{
        text-align: center;
      }
    }
  }
}