// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
span.multiselect-native-select{position:relative}span.multiselect-native-select select{border:0!important;clip:rect(0 0 0 0)!important;height:1px!important;margin:-1px -1px -1px -3px!important;overflow:hidden!important;padding:0!important;position:absolute!important;width:1px!important;left:50%;top:30px}.multiselect-container{position:absolute;list-style-type:none;margin:0;padding:0}.multiselect-container .input-group{margin:5px}.multiselect-container .multiselect-reset .input-group{width:93%}.multiselect-container>li{padding:0}.multiselect-container>li>a.multiselect-all label{font-weight:700}.multiselect-container>li.multiselect-group label{margin:0;padding:3px 20px;height:100%;font-weight:700}.multiselect-container>li.multiselect-group-clickable label{cursor:pointer}.multiselect-container>li>a{padding:0}.multiselect-container>li>a>label{margin:0;height:100%;cursor:pointer;font-weight:400;padding:3px 20px 3px 40px}.multiselect-container>li>a>label.checkbox,.multiselect-container>li>a>label.radio{margin:0}.multiselect-container>li>a>label>input[type=checkbox]{margin-bottom:5px}.btn-group>.btn-group:nth-child(2)>.multiselect.btn{border-top-left-radius:4px;border-bottom-left-radius:4px}.form-inline .multiselect-container label.checkbox,.form-inline .multiselect-container label.radio{padding:3px 20px 3px 40px}.form-inline .multiselect-container li a label.checkbox input[type=checkbox],.form-inline .multiselect-container li a label.radio input[type=radio]{margin-left:-20px;margin-right:0}

//jpn.css
@charset "UTF-8";
/*! jpn.css for Bootsrap4 | MIT License | Copyright 2017 @kokushing */
@font-face {
  font-family: YuGothicMedium;
  src: local("Yu Gothic Medium");
}

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}

html[lang=ja] {
  line-height: 1.15;
}

[lang=ja] body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "游ゴシック Medium", "Yu Gothic", YuGothic, YuGothicMedium, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.7;
}

@media all and (-ms-high-contrast: none) {
  [lang=ja] body {
    font-family: Verdana, Meiryo, sans-serif;
  }
}

@media all and (-ms-high-contrast: active) {
  [lang=ja] body {
    font-family: Verdana, Meiryo, sans-serif;
  }
}

[lang=ja] h1, [lang=ja] h2, [lang=ja] h3, [lang=ja] h4, [lang=ja] h5, [lang=ja] h6, [lang=ja]
.h1, [lang=ja] .h2, [lang=ja] .h3, [lang=ja] .h4, [lang=ja] .h5, [lang=ja] .h6 {
  margin-bottom: 0.625rem;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.4;
}

[lang=ja] h1, [lang=ja] .h1 {
  font-size: 2.375rem;
}

[lang=ja] h2, [lang=ja] .h2 {
  font-size: 1.875rem;
}

[lang=ja] h3, [lang=ja] .h3 {
  font-size: 1.625rem;
}

[lang=ja] h4, [lang=ja] .h4 {
  font-size: 1.375rem;
}

[lang=ja] h5, [lang=ja] .h5 {
  font-size: 1.125rem;
}

[lang=ja] h6, [lang=ja] .h6 {
  font-size: 0.875rem;
}

.lead {
  font-size: 1.125rem;
}

[lang=ja] .display-1 {
  font-size: 5.75rem;
  font-weight: 500;
  line-height: 1.2;
}

[lang=ja] .display-2 {
  font-size: 5.25rem;
  font-weight: 500;
  line-height: 1.2;
}

[lang=ja] .display-3 {
  font-size: 4.25rem;
  font-weight: 500;
  line-height: 1.2;
}

[lang=ja] .display-4 {
  font-size: 3.25rem;
  font-weight: 500;
  line-height: 1.2;
}

.blockquote {
  font-size: 1.25rem;
}

[lang=ja] .btn-lg {
  font-size: 1.125rem;
}


footer{
  margin-top:30px;
}

.alert{
  margin-top:20px;
}
.error_messages{
  color: red;
}
//Top page

body{
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  background-color: #F5F5F5;
}


.jumbotron-fluid{
  height: 500px;
  background-image:url("jumbotron-background.jpg");
  position: relative;
  .bkRGBA{
    position: absolute;
	  top: 0;
	  right: 0;
  	bottom: 0;
  	left: 0;
  	content: ' ';
    background-color:rgba(0,0,0,0.6); 
    .container{
      padding-top: 120px;
      h1{
        text-align: center;
        color: white;
      }
      p{
        text-align: center;
        padding-top:10px;
        color: white;
      }
      form{
        padding-top: 30px;
        .card{
          background-color:rgba(0,0,0,0.6); 
          .form-check{
          margin-top:8px;
          }
          label{
            color: white;
            margin: 0 5px;
          }
        }
        
      }
    }  
  }
}
.area_container{
  margin-top: 10px;
  h2{
    margin-top: 40px;
  }
  .row-height {
    display: flex;
    flex-wrap: wrap;
    .area-card{
      margin-top: 15px;
    }
  }
}


//studios/new,edit
.studio-container{
  h2{
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
  }
  .time-select-group{
    .col-xs-2{
      margin:0 16px;
    }
    p{
      display:inline-block;
      margin-top:5px;
    }
    .form-control{
      width: auto;
      display:inline-block;
    }
  }

  .btn{
    margin-top: 15px;
  }
}

//index page
.index-container{
  .search-number-container{
    border-bottom: 1px solid gray;
    .search-number{
      margin: 15px 0 5px 0;
    }
  }
  
  .col-sm-12{
    padding: 10px 20px;
  }
}

.small-block {
  display: block;
  line-height: 1.428571429;
  color: #999;
  }
.star-review{
  display: inline;
}
.score-review{
  display: inline;
}
.count-review{
  margin-left: 10px;
  display: inline;
  color: #999;
}

.studio-body{
}

// show_studio
.show-studio-container{

    .card{
      margin: 20px 0;
      .pagination{
        margin-top: 10px;
      }
      #favorite_form{
        margin-left:10px;
      }
      #star-head{
        display: inline;
        vertical-align:7px;
      }
      .rate-score{
        display: inline;
        color: #e10000;
        font-weight: bold;
        font-size: 28px;
        margin-left: 5px;
      }
      .holiday{
        margin-left:24px;
      }
      .share_btn_container{
        .share_btn{
          display: inline-block;
        }
        .fb_iframe_widget > span {
          vertical-align: baseline !important;
        }

      }
      .review{
        padding: 30px;
        .balloon{
          position: relative;
          padding: 20px;
          background-color: #e2e2e2;
          .review_title{
            font-size: 20px;
            font-weight:bold;
          }
        }
        .balloon::before{
          content: '';
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          left: -15px;
          top: 15px;
          border-right: 15px solid #e2e2e2;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
        }
      }
    }  
  
  text-align: center;
  .show-studio-header{
    display: inline-block;
    #favorite_form{
      display: inline-block;
    }
  }
  .updated_at{
    color: gray;
    text-align: right;
  }
  
}

//login
//signup,edit
.user-container{
  h2{
      margin-top: 30px;
      margin-bottom: 50px;
      text-align: center;
    }
  .signup-form{
    margin: 0 auto;
    form{
      .btn{
        margin-top: 15px;
        text-align: center;
      }
    }
  }
}

//users/show
.user_show_container{
  margin-top: 15px;
  aside{
    .icon-image{
      display: inline-block;
    }
  }
}