<% if @review.errors.any? %>
  <div class="error_messages">
  <% @review.errors.full_messages.each do |message| %>
    <ul>
      <li class="error-messages"><%= message %></li>
    </ul>
  <% end %>
  </div>
<% end %>